html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.navBar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(152, 152, 152);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

ul.navBar > li {
    border: 1px black solid;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    filter: drop-shadow(4px 5px 1px #00000042);
}

ul.navBar > li:hover {
    background-color: rgb(183, 243, 201);
    transform: translateY(8%);
    cursor: pointer;
    filter: drop-shadow(2px 3px 1px #00000042);
}

.about {
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}

div.about > h2 {
    text-align: center;
    text-decoration: underline;
}

@media (min-width:1600px){
    html {
        font-size: 2rem;
    }
}

@media (max-width:400px){
    ul.navBar > li {
        font-size: 16px;
    }
    .about {
        font-size: 24px;
        width: 75vw;
        text-align: center;
    }
}